.main-image{
  background-image: url('../public/images/home/Our Class.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.main-text{
  text-align: center;
  padding: 150px;
  color: white;

}
.intro{
  color: black;
  padding: 40px;
}
.team-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 40px;
  color: black;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.team-member {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.member1-photo {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.member1-photo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.member-info {
  font-size: 16px;
  color: #444;
  line-height: 1.5;
}